<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LMS.Properties.Settings.LMSConnectionString" connectionString="Data Source=DESKTOP-F5CP93P;Initial Catalog=LMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LMS.Properties.Settings.ClientLMSConnectionString"
            connectionString="Data Source=|DataDirectory|\LMS.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>